## Logistic Regression 


#### Dataset: Social Network Ads

A categorical dataset to determine wheather a user purchased a partucular product. This data is given by a online shopping site. Which includes customer id, gender, age, salary and weather he/she purchased anything or not.

#### Model

Logistic Regression is used in statistics to model the probabilities of certain class or event and works by trying to fit the best S shape line of the logistic function in the data. It's used for classification and the output lies between 0 or 1.
For this model the loss function will be the L2 (least square error) and to minimize its value will be used the gradient descent method to calculate the best combinations of weights that produces the minium value for the cost function.

#### Objective

The main goal of this work is, based on the features in the dataset, predict if a given custume is likely to buy something or not

### Python Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from math import exp
plt.rcParams["figure.figsize"] = (10, 6)

### Loading the Data

The data was downloaded from Kaggle in this link: https://www.kaggle.com/rakeshrau/social-network-ads

In [3]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

An only feature will be used to make the predicition. For this case, the age of each custumer will be used.

In [5]:
# Splitting the data into training set and test set
X_train, X_test, Y_train, Y_test = train_test_split(dataset['Age'],dataset['Purchased'],test_size=0.2)